<div class="guild-container col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center">
    <% if (guild.icon != null) { %>
        <% if (guild.icon.substring(0,2) === 'a_') { %>
            <img class="guild-icon " src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon%>.gif"/>
            <% } else { %>
                <img class="guild-icon" src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon%>.png"/>
                <% } %>
    <% } else { %>

        <img class="guild-icon" src="https://i.imgur.com/bMaLqzT.png" width="120px">
        <% } %>
  <h4 class="guild-name"><%- guild.name %></h4>
  <p class="guild-id"><%- guild.id %></p>
  <span class="arrow"></span>
  
<!-- 
  <p><button type="button" class="invite-button btn btn-dark" name="<%- guild.id %>">INVITE</button></p>
<p><button type="button" class="invite-button btn btn-dark" name="<%- guild.id %>">MANAGE</button></p> -->
  <!-- <ul>

    <% guild.features.forEach(feature =>{ %>

        <li><%= feature %></li>

    <% })  %>

  </ul> -->


</div>
