<div style="border: 1px solid black; margin: 10px; padding-left: 20px">
    <% if (guild.icon != null) { %>
        <% if (guild.icon.substring(0,2) === 'a_') { %>
            <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon%>.gif"/>
            <% } else { %>
                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon%>.png"/>
                <% } %>
    <% } else { %>

        <img src="https://i.imgur.com/bMaLqzT.png" width="120px">
        <% } %>
  <h4><%- guild.name %></h4>
  <p><%- guild.id %></p>

  <%if (guild.owner) {%>
    <span style="color: red; font-weight: bold;">OWNER</span>
  <% } %>

  <ul>

    <% guild.features.forEach(feature =>{ %>

        <li><%= feature %></li>

    <% })  %>

  </ul>


</div>
